.nav{
    display: flex;
    background-color: antiquewhite;
    flex-flow: r;
    justify-content: space-around;
}
.nav ul{
    display: flex;
    flex-flow: row;
   
}
nav li{
    margin: 20px;
    display: flex;
}
.body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;

}
.info{
    flex-direction: column;
}
.home{
 display: flex ;
 flex-direction: row;
 align-items: center;
}
.profile{
    display: flex;
    flex-direction: column;
}
.img{
    height: 20vh;
    width: 20vh;
}