.nav{
    display: flex;
    background-color: antiquewhite;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
}
.nav ul{
    padding: 0px;
    display: flex;
    flex-flow: row;
   justify-content: space-between;
   flex-grow: 1;
}
.nav li{
    margin: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
body{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100vh;
    font-size: 1.2rem;
    margin: 0px;
}
.body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

}
.info{
    display: flex;
    flex-direction: column;

}
.home{
 display: flex ;
 flex-direction: column;

}
.profile{
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}
.img{
    height: 20vh;
    width: 20vh;
    border: 2 px black solid;
}
.about{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 100vh;
}
.aboute